@{
  Layout = "_Layout";
}

@model Salon.Models.Stylist;
@using Salon.Models;

<h2>Stylist Information:</h2>
<hr />
<p>@Html.DisplayNameFor(model => model.StylistName): @Html.DisplayFor(model => model.StylistName)</p>
<p>@Html.DisplayNameFor(model => model.Specialty): @Html.DisplayFor(model => model.Specialty)</p>

<ul>
  @if (@Model.Clients.Count == 0)
  {
    <p>This stylist currently has no clients.</p>
    <p>@Html.ActionLink("Add a Client", "Create", "Clients")</p>
  }

  @foreach(Client client in Model.Clients)
  {
    <li>Client Name: @client.ClientName</li>
  }
  </ul>

  <hr />
  <p>@Html.ActionLink("Edit Stylist", "Edit", new { id = Model.StylistId })</p>
  <p>@Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId })</p>
  <p>@Html.ActionLink("Back to list", "Index")</p>
