@{
  Layout = "_Layout";
}

@model Salon.Models.Stylist;
@using Salon.Models;

<h2>Stylist Information</h2>
<hr />
<p>@Html.DisplayNameFor(model => model.StylistName): @Html.DisplayFor(model => model.StylistName)</p>

<ul>
  @foreach(Client Client in Model.Clients)
  {
    <li>Name: @clientName</li>
  }
  </ul>

  <hr />
  <p>@Html.ActionLink("Edit Stylist", "Edit", new { id = Model.StylistId })</p>
  <p>@Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId })</p>
  <p>@Html.ActionLink("Back to list", "Index")</p>
